blinker==1.8.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.4
cryptography==42.0.8
doc2python==0.0.7
docx2python==2.10.1
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
lxml==5.2.2
MarkupSafe==2.1.5
nltk==3.8.1
numpy==2.0.0
pandas==2.2.2
paragraphs==0.2.1
pdfminer.six==20231228
pdfplumber==0.11.1
pillow==10.3.0
pycparser==2.22
pypandoc==1.13
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.15
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
stopwords==1.0.1
threadpoolctl==3.5.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.3
